/* General container styling */
body {
    font-family: 'poppins';
    background: linear-gradient(#636264, #000000);
    height: 100vh;
}
.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Header styling */
  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
  }
  
  hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin-bottom: 20px;
  }
  
  /* Question styling */
  h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 20px;
  }
  
  /* Option list styling */
  ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
  }
  
  li {
    font-size: 18px;
    color: #666;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  li:hover {
    background-color: #f0f0f0;
  }
  
  /* Button styling */
  button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* Question index styling */
  .index {
    font-size: 16px;
    color: #777;
    margin-top: 20px;
  }
  
  .correct{
    background-color: #28a745;
  }